.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1em;
  padding: 10px 20px;
  background-color: #06D6A0;
  color: #000A1F;
  border: 3px solid #000A1F;
  border-radius: 0px;
  cursor: pointer;
}

button:hover {
  background-color: #05C48D;
}

.card-grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.select {
  font-family: 'Pixelify Sans', sans-serif;
}